<div class="w-full">
  <mat-progress-bar *ngIf="loading==false" mode="indeterminate"></mat-progress-bar>

  <div class="flex flex-col p-4" *ngIf="loading==true">
    <div class="flex">
      <h1 class="font-bold text-xl uppercase">Công Việc giảng viên</h1>
    </div>
    <mat-card>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tìm kiếm</mat-label>
          <mat-form-field class="w-full" appearance="outline" class="w-full">
            <input [(ngModel)]="filter.search" matInput (keyup.enter)="DataHanlderUser()">
          </mat-form-field>
        </div>
        <div class="flex-1  px-2">
          <mat-label>Công việc</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.id_cong_viec" (selectionChange)="DataHanlderUser()">
              <mat-option *ngFor="let item of lst_cong_viec" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Từ ngày
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [matDatepicker]="picker" [(ngModel)]="filter.tu">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Đến ngày
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [matDatepicker]="picker1" [(ngModel)]="filter.den">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <div class="flex justify-end mt-5">
      <div class="flex justify-end mr-10">
        <button mat-raised-button (click)="DataHanlderUser()">Tìm kiếm</button>
      </div>
      <div class="flex justify-end mr-10">
        <button mat-raised-button color="primary" (click)="export_Excel()">
          <mat-icon>cloud_download</mat-icon> Export Excel
        </button>
      </div>

    </div>
    <div class="flex mt-10">
      <mat-card class="w-full">

        <table id="excel-table" class="w-full table_admin">
          <thead class="">
            <th class=" text-base" style="width: 5%; height: 60px">
              STT
            </th>
            <th class=" text-base" style="height: 60px">Công việc</th>
            <th class=" text-base" style="height: 60px">Trạng thái</th>
            <th class=" text-base" style="height: 60px">Thời gian</th>
            <th class=" text-base" style="height: 60px">Người tạo</th>
            <th class=" text-base" style="height: 60px">Ngày tạo</th>
            <th class=" text-base" style="height: 60px">Ghi chú</th>
          </thead>
          <tbody
            *ngFor="let item of listData|paginate: { itemsPerPage: 5, currentPage: p, totalItems: total } ; index as i">
            <tr>
              <td class="">
                <span class="p-4">
                  {{ i + 1 }}
                </span>
              </td>
              <td class="">
                <span class="text-base text-blue-600">
                  {{ item.ten_loai_cong_viec }}
                </span>
                <br>
                <span>Công việc:{{ item.ten_cong_viec }}</span>
                <br>
                <span class="text-base text-blue-600">
                  Số giờ:{{ item.db.so_gio }}
                </span>
              </td>
              <td class="">
                <div style="color:#a40000" *ngIf="item.trang_thai==1">Đã hết hạn</div>
                <div style="color:#bbd306" *ngIf="item.trang_thai==2">Chưa thực hiện</div>
                <div style="color:#1de53e" *ngIf="item.trang_thai==3">Đang thực hiện</div>
              </td>
              <td class="">
                <span>Ngày bắt đầu : {{ item.db.ngay_bat_dau | date :'dd/MM/YYYY HH:mm' }}</span><br>
                <span>Ngày kết thúc : {{ item.db.ngay_ket_thuc | date :'dd/MM/YYYY HH:mm' }}</span>
              </td>
              <td class="">
                {{ item.create_name }}
              </td>
              <td class="">
                {{ item.db.create_date | date :'dd/MM/YYYY HH:mm' }}
              </td>
              <td class="">{{ item.db.note }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </div>
</div>
