<div class="w-full">
  <mat-progress-bar *ngIf="loading==false" mode="indeterminate"></mat-progress-bar>

  <div class="flex flex-col p-4" *ngIf="loading==true">
    <div class="flex">
      <h1 class="font-bold text-xl">Thành viên</h1>
    </div>
    <mat-card>
      <div class="flex">
        <div class="flex-1  px-2">
          <mat-label>Tên thành viên</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select>
              <mat-option *ngFor="let food of lst_status" [value]="food.id">
                {{ food.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1  px-2">
          <mat-label>Trạng thái</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select>
              <mat-option *ngFor="let food of lst_status" [value]="food.id">
                {{ food.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tìm kiếm</mat-label>
          <mat-form-field class="w-full" appearance="outline" class="w-full">
            <input [(ngModel)]="filter.search" matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <div class="flex justify-end mt-5">
      <div class="flex justify-end mr-10">
        <button mat-raised-button (click)="loadAPI()">Tìm kiếm</button>
      </div>
      <div class="flex justify-end mr-10">
        <button mat-raised-button color="primary" (click)="openDialogAdd()">
          <mat-icon>add</mat-icon>Thêm
        </button>
      </div>
    </div>
    <div class="flex mt-10">
      <mat-card class="w-full">
        <table class="w-full table_admin">
          <thead class="">
            <th class=" text-base" style="width: 10%; height: 60px"></th>
            <th class=" text-base" style="width: 5%; height: 60px">
              STT
            </th>
            <th class=" text-base" style="height: 60px">
              Tên thành viên
            </th>
            <th class=" text-base" style="height: 60px">Mật khẩu</th>
            <th class=" text-base" style="height: 60px">Trạng thái</th>
          </thead>
          <tbody *ngFor="let item of listData; index as i">
            <tr>
              <td class="">
                <div class="flex justify-center item-center">
                  <!-- <button mat-raised-button [matMenuTriggerFor]="menu">Chức năng</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogDetail(item)">
                Sửa
              </button>
              <button mat-menu-item (click)="delete(item.db.id)">Xoá</button>
              <button mat-menu-item>Ngừng sử dụng</button>
            </mat-menu> -->
                  <div class="flex justify-center items-center ng-star-inserted" *ngIf="item.db.status_del==1"
                    (click)="delete(item.db.id)"><span class="material-icons"
                      style="color: rgb(255, 0, 0);">cancel</span></div>
                  <div class="flex justify-center items-center ng-star-inserted" *ngIf="item.db.status_del==2"
                    (click)="delete(item.db.id)"><span class="material-icons" style="color: rgb(16, 222, 36)">
                      <mat-icon>done_outline</mat-icon>
                    </span></div>
                  <div class="flex justify-center items-center ng-star-inserted" (click)="openDialogDetail(item)"><span
                      class="material-icons">
                      <mat-icon>build</mat-icon>
                    </span></div>
                </div>
              </td>
              <td class="">
                <span class="p-4">
                  {{ i + 1 }}
                </span>
              </td>
              <td class="">
                {{ item.db.name }}{{ item.db.id }}
              </td>
              <td class="">
                {{ item.db.pass }}
              </td>
              <td class="">Đang sử dụng</td>
            </tr>
          </tbody>

        </table>
      </mat-card>
    </div>

  </div>
</div>
