<div class="flex flex-col flex-auto w-full  h-fit overflow-y-visible">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <span class="text-lg font-medium uppercase">Giảng viên</span>
  </div>
  <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
    <div class="flex flex-col">
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tên
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.ten_giang_vien'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="record.db.ten_giang_vien" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Chức vụ
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.id_chuc_vu'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="record.db.id_chuc_vu">
              <mat-option *ngFor="let item of lst_chuc_vu" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Mã giảng viên
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.ma_giang_vien'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="record.db.ma_giang_vien" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Chuyên nghành
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.id_chuyen_nghanh'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="record.db.id_chuyen_nghanh">
              <mat-option *ngFor="let item of lst_chuyen_nghanh" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Bộ môn
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='list_bo_mon'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="record.db.id_bo_mon">
              <mat-option *ngFor="let item of lst_bo_mon" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Số điện thoại
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.sdt'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="record.db.sdt" />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Email
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.email'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [(ngModel)]="record.db.email" />
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Địa chỉ
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.dia_chi'">({{key.value}})</span>
            </span>

          </mat-label>
          <mat-form-field class="w-full" appearance="outline">
            <input matInput [(ngModel)]="record.db.dia_chi" />
          </mat-form-field>
        </div>
        <div class="flex-1 px-2">
          <mat-label>Ngày sinh
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.ngay_sinh'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <input matInput [matDatepicker]="picker" [(ngModel)]="record.db.ngay_sinh">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Giới tính
            <span *ngFor="let key of check_error">
              <span style="color:red" *ngIf="key.key=='db.id_chuyen_nghanh'">({{key.value}})</span>
            </span>
          </mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="record.db.gioi_tinh">
              <mat-option *ngFor="let item of lst_gioi_tinh" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex pl-6 pt-6 justify-end">
        <div class="flex mr-3">
          <button mat-raised-button (click)="Close()">Đóng</button>
        </div>
        <div>
          <button mat-raised-button color="primary" *ngIf="record.db.id == '0'" (click)="Save()">
            Lưu
          </button>
        </div>
        <div>
          <button mat-raised-button color="primary" *ngIf="record.db.id != '0'" (click)="Edit()">
            Sửa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
