
  <mat-progress-bar *ngIf="loading==false" mode="indeterminate"></mat-progress-bar>
<mat-drawer-container  *ngIf="loading==true"  class="example-container" style="height: 100% !important">
  <mat-drawer mode="side" opened class="bg-current color-white" style="width: 20% !important; height: 100% !important">
    <!-- [(opened)]="opened" -->
    <div class="flex item-container justify-center w-full">
      <div class="item-container justify-center p-4 text-center">
        <span class="font-bold text-lg text-white"> {{cau_hinh.title}} </span>
      </div>
    </div>

    <div class="flex item-container justify-center w-full mb-5">
      <img src="/assets/img/Untitled-2-01.png" alt="" style="width: 100px; height: 100px" class="rounded-full" />
    </div>
    <div class="flex item-container justify-center w-full">
      <div class="item-container flex justify-center p-4">
        <span class="font-bold text-lg text-white">
          {{ profile.name }}
        </span>
      </div>
    </div>
    <div class="flex flex-col w-full" *ngFor="let item of menu">
      <div class="flex w-full hover:bg-gray-700" routerLink="/{{ item.link }}" routerLinkActive="active-link"
        style="height: 40px; padding-left: 15px">
        <div class="p-2">
          <span class="text-base text-center text-white">
            {{ item.label }}
          </span>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content style="width: 80% !important;">
    <div class="flex flex-col w-full h-full">
      <div
        class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent"
        style="width: 100% !important; height: 5% !important">
        <div style="border-radius: 1.25rem!important;background-color:#2c2727;color: #fff !important">
          <user_menu [user_name]="profile.name"></user_menu>
        </div>
      </div>
      <div class="flex flex-col flex-auto">
        <router-outlet></router-outlet>
      </div>
      <div
        class="relative flex flex-0 items-center w-full h-14 sm:h-20 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden"
        style="width: 100% !important; height: 5% !important">
        <div
          class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap w-full max-w-screen-xl mx-auto px-6 sm:px-2">
          <div align="right" class="flex-1 text-base">
            Copyright © {{ anio }} {{cau_hinh.name_footer}}
            <br />
            <div class="flex justify-end">
              Powered by {{cau_hinh.title_footer}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
