<div class="w-full">
  <mat-progress-bar *ngIf="loading==false" mode="indeterminate"></mat-progress-bar>

  <div class="flex flex-col p-4" *ngIf="loading==true">
    <div class="flex">
      <h1 class="font-bold text-xl uppercase">Công Việc giảng viên</h1>
    </div>
    <mat-card>
      <div class="w-full max-w-sm" style="min-width:500px">
        <div class="flex items-center border-b border-teal-500 py-2">
          <input
            class="appearance-none border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
            type="file" (change)="onFileSelected($event)" #fileUpLoad>

          <button
            class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-base py-1 px-2 rounded"
            type="button" (click)="dowloadFileMau()">
            Mẫu Import
          </button>
          <button
            class="flex-shrink-0 bg-teal-500 hover:bg-teal-500 border-teal-500 hover:border-teal-700 text-base border-4 text-white py-1 px-2 rounded"
            type="button" (click)="onSubmitFile()">
            Upload
          </button>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1  px-2">
          <mat-label>Công việc</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.id_cong_viec" (selectionChange)="DataHanlderAdmin()">
              <mat-option *ngFor="let item of lst_cong_viec" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1  px-2">
          <mat-label>Khoa</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.id_khoa" (selectionChange)="DataHanlderAdmin()">
              <mat-option *ngFor="let item of lst_khoa" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1  px-2">
          <mat-label>Chức vụ</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.id_chuc_vu" (selectionChange)="get_list_giang_vien()">
              <mat-option *ngFor="let item of lst_chuc_vu" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex-1  px-2">
          <mat-label>Giảng viên</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.id_giang_vien" (selectionChange)="DataHanlderAdmin()">
              <mat-option *ngFor="let item of lst_giang_vien" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1 px-2">
          <mat-label>Tìm kiếm</mat-label>
          <mat-form-field class="w-full" appearance="outline" class="w-full">
            <input [(ngModel)]="filter.search" matInput (keyup.enter)="DataHanlderAdmin()">
          </mat-form-field>
        </div>
        <div class="flex-1  px-2">
          <mat-label>Trạng thái</mat-label>
          <mat-form-field appearance="outline" class="w-full">
            <mat-select [(ngModel)]="filter.status_del" (selectionChange)="DataHanlderAdmin()">
              <mat-option *ngFor="let item of lst_status" [value]="item.id">
                {{ item.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <div class="flex justify-end mt-5">
      <div class="flex justify-end mr-10">
        <button mat-raised-button (click)="DataHanlderAdmin()">Tìm kiếm</button>
      </div>
      <div class="flex justify-end mr-10">
        <button mat-raised-button color="primary" (click)="export_Excel()">
          <mat-icon>cloud_download</mat-icon> Export Excel
        </button>
      </div>

      <div class="flex justify-end mr-10">
        <button mat-raised-button color="primary" (click)="openDialogAdd()">
          <mat-icon>add</mat-icon>Thêm
        </button>
      </div>
    </div>
    <div class="flex mt-10">
      <mat-card class="w-full">
        <table id="excel-table" class="w-full table_admin">
          <thead class="">
            <th class=" text-base" style="width: 5%; height: 60px"></th>
            <th class=" text-base" style="width: 5%; height: 60px">
              STT
            </th>
            <th class=" text-base" style="height: 60px">
              Tên giảng viên
            </th>
            <th class=" text-base" style="height: 60px">Công việc</th>
            <th class=" text-base" style="height: 60px">Trạng thái</th>
            <th class=" text-base" style="height: 60px">Người tạo</th>
            <th class=" text-base" style="height: 60px">Ngày tạo</th>
            <th class=" text-base" style="height: 60px">Ghi chú</th>
          </thead>
          <tbody
            *ngFor="let item of listData|paginate: { itemsPerPage: 5, currentPage: p, totalItems: total } ; index as i">
            <tr>
              <td class="">
                <div class="flex justify-center item-center">
                  <div class="flex justify-center items-center ng-star-inserted" *ngIf="item.db.status_del==1"
                    (click)="delete(item.db.id)"><span class="material-icons"
                      style="color: rgb(255, 0, 0);">cancel</span></div>
                  <div class="flex justify-center items-center ng-star-inserted" *ngIf="item.db.status_del==2"
                    (click)="reven_status(item.db.id)"><span class="material-icons" style="color: rgb(16, 222, 36)">
                      <mat-icon>done_outline</mat-icon>
                    </span></div>
                  <!-- <div class="flex justify-center items-center ng-star-inserted" (click)="openDialogDetail(item)"><span
                      class="material-icons">
                      <mat-icon>build</mat-icon>
                    </span></div> -->
                </div>
              </td>
              <td class="">
                <span class="p-4">
                  {{ i + 1 }}
                </span>
              </td>
              <td class="">
                <span>{{ item.ten_giang_vien }}</span><br>
                <span>Chức vụ:{{ item.ten_chuc_vu }}</span><br>
                <span>Khoa:{{ item.ten_khoa }}</span><br>
              </td>
              <td class="">
                <span class="text-base text-blue-600">
                  {{ item.ten_loai_cong_viec }}
                </span>
                <br>
                <span>Công việc:{{ item.ten_cong_viec }}</span>
                <br>
                <span class="text-base text-blue-600">
                  Số giờ:{{ item.db.so_gio }}
                </span>
              </td>
              <td class="">
                <div *ngIf="item.trang_thai==1" class="border-2 border-black rounded-full w-8 h-8"
                  style="background-color: rgb(16, 188, 56);"></div>
                <div *ngIf="item.trang_thai==2" class="border-2 border-black rounded-full w-8 h-8"
                  style="background-color: rgb(188, 23, 39);"></div>
                <div *ngIf="item.trang_thai==3" class="border-2 border-black rounded-full w-8 h-8"
                  style="background-color: rgb(230, 238, 22);"></div>
              </td>
              <td class="">
                {{ item.create_name }}
              </td>
              <td class="">
                {{ item.db.create_date | date :'dd/MM/YYYY HH:mm' }}
              </td>
              <td class="">{{ item.db.note }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </div>
</div>
